# Dataset and Weights
dataset/
*/dataset/
*.zip
*.h5
*.keras
*.pth

# Database & Uploads
*.db
backend/uploads/

# Python
__pycache__/
*.py[cod]
*$py.class
.venv/
venv/
env/
.env

# Editor
.vscode/
.idea/
.DS_Store

# Node
node_modules/
dist/

# Firebase & Secrets
firebase-service-account.json
firebase.md